/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Page Name 2
*/



/* -----------------------------------------
   Home
----------------------------------------- */
div.twelve.columns.centered {
	text-align: center;
}
div.twelve.columns.centered>h1 {
	font-family: 'Bowlby One SC', cursive;
}
.top-bar {
	display: none;
}
#aModal {
	text-align: center;
	line-height: 1.8em;
}

/* -----------------------------------------
   About
----------------------------------------- */


/* -----------------------------------------
   Features
----------------------------------------- */


/* -----------------------------------------
   Features - Front-End
----------------------------------------- */


/* -----------------------------------------
   Features - Back-End
----------------------------------------- */



/* -----------------------------------------
   Blog
----------------------------------------- */




/* -----------------------------------------
   Contact
----------------------------------------- */




/* -----------------------------------------
   Fun Stuff
----------------------------------------- */




/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	background: url('../images/layout/subtle_dots.png') repeat;
	
}
.show {
	display: block;
}
.top-bar {
	/* background-color: #D0D102 !important; */
}
div {
	text-align:justify;
}
div.panel {
	background-color: #C8EBFE !important;
}

/* -----------------------------------------
   Micro Clearfix - nicolasgallagher
----------------------------------------- */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}