/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Page Name 2
*/



/* -----------------------------------------
   Home
----------------------------------------- */
div.twelve.columns.centered {
	text-align: center;
}
div.twelve.columns.centered>h1 {
	font-family: 'Bowlby One SC', cursive;
}
.top-bar {
	display: none;
}
#aModal {
	text-align: center;
	line-height: 1.8em;
}
#thanks {
	display: none;
}

/* -----------------------------------------
   About
----------------------------------------- */


/* -----------------------------------------
   Features
----------------------------------------- */


/* -----------------------------------------
   Features - Front-End
----------------------------------------- */
div#html5 div.five.columns div.panel a:first-child {
	margin: 0 0 0 30px;
}
div#html5 div.five.columns div.panel a:nth-of-type(2) {
	margin: 0 0 0 85px;
}
div#html5 div.five.columns div.panel,
div#css div.five.columns div.panel  {
	background: transparent !important;
}
div#css div.five.columns div.panel a:first-child {
	margin: 0 0 0 30px;
}
div#rounded div.five.columns div.panel,
div#gradient div.five.columns div.panel,
div#transition div.five.columns div.panel {
	width: 350px;
	height: 250px;
}
div#transition div.five.columns div.panel.box_gradient.box_transition:hover {
	width: 300px;
	height: 200px;
}
.box_round {
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	
}
.box_gradient {	
	background-color: #C8EBFE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C8EBFE), to(#999999));
	background-image: -webkit-linear-gradient(top, #C8EBFE, #999999);
	background-image:    -moz-linear-gradient(top, #C8EBFE, #999999);
	background-image:      -o-linear-gradient(top, #C8EBFE, #999999);
	background-image:         linear-gradient(to bottom, #C8EBFE, #999999);
}
.box_transition {
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}
/* -----------------------------------------
   Features - Back-End
----------------------------------------- */



/* -----------------------------------------
   Blog
----------------------------------------- */




/* -----------------------------------------
   Contact
----------------------------------------- */




/* -----------------------------------------
   Fun Stuff
----------------------------------------- */




/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	background: url('../images/layout/subtle_dots.png') repeat;
	
}
.show {
	display: block;
}
.top-bar {
	/* background-color: #D0D102 !important; */
}
div {
	text-align:justify;
}
div.panel {
	background-color: #C8EBFE !important;
	margin: auto;

}
div.panel pre {
	text-overflow: ellipsis;
	direction: ltr;
	overflow: hidden;	
}

/* -----------------------------------------
   Micro Clearfix - nicolasgallagher
----------------------------------------- */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}