/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Page Name 2
*/



/* -----------------------------------------
   Home
----------------------------------------- */
div.twelve.columns.centered {
	text-align: center;
}
div.twelve.columns.centered>h1 {
	font-family: 'Bowlby One SC', cursive;
}
.top-bar {
	display: none;
}
#aModal {
	text-align: center;
	line-height: 1.8em;
}

/* -----------------------------------------
   About
----------------------------------------- */
div {
	text-align: center;
}
div.panel {
	background-color: #C8EBFE !important;
}

/* -----------------------------------------
   Features
----------------------------------------- */


/* -----------------------------------------
   Features - Front-End
----------------------------------------- */


/* -----------------------------------------
   Features - Back-End
----------------------------------------- */



/* -----------------------------------------
   Blog
----------------------------------------- */




/* -----------------------------------------
   Contact
----------------------------------------- */




/* -----------------------------------------
   Fun Stuff
----------------------------------------- */




/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	background: url('../images/layout/subtle_dots.png') repeat;
	
}
.show {
	display: block;
}
.top-bar {
	/* background-color: #D0D102 !important; */
}